@model List<SistemaCadastro.Models.Cliente>

<div class="container">

    <h2>Clientes</h2>

    <a href="/Clientes/Create" class="btn-novo">
        + Novo Cliente
    </a>

    <table>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.Nome</td>
                <td>@cliente.Email</td>
                <td>@cliente.Telefone</td>
                <td>
                    <a href="/Clientes/Edit/@cliente.Id">Editar</a> |
                    <a href="/Clientes/Delete/@cliente.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>